/*Home page*/
body{
	font-size:15px;
	font-family: Arial;
	margin: 50px;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe4yrLCeFKzilrAmAk5JIigzAByi9j6acYEA&s");
}
.menu{
	width : 500px;
	font-size:15px;
	font-family: Arial;
	margin: 50px;
	padding:20px;
	background-color: yellow;
}