/*Home page*/
body{
	font-size:15px;
	font-family: Arial;
	margin: 20px;
	background-image: url("https://media.istockphoto.com/id/513056418/photo/coffee-beans.jpg?s=612x612&w=0&k=20&c=Ecf1UBS8AbVZbmaD_xg35SAuGqMazKLF6LG6FPkjQj4=");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.menu{
	width:500px;
	font-size:15px;
	font-family: Arial;
	margin: auto;
	padding:30px;
	background-color: #ddb886;	
}
h1{
	font-family: Arial Black;
	margin: auto;
}

h2{
	font-family: Arial Black;
	margin-bottom: 20px;
	margin-top:0px;
	text-align:center;
}

main {
  width: 500px;
  margin: auto;
  padding: 30px;
  background-color: #ddb886;
}

article p {
  margin: 0px;
}

.price {
	margin: 450px;
	margin-top:auto;
	font-weight: bold;
}
footer{
	margin: auto;
	text-align: center;
}
